.navbar {
  display: flex;
  justify-content: space-between;
  background: #1a1a1c;
  padding: 0.3rem 0;
  border-top: 1px solid #333;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar button {
    font-size: 1.8rem;   /* bigger emojis */
    padding: 0.6rem 0;
    flex: 1;
    background: none;
    border: none;
    color: #777;
    transition: 0.2s;
}

.navbar button.active {
    color: #007aff; /* iOS blue */
    font-size: 2.5rem; /* slightly bigger when active */
    transform: translateY(-3px); /* subtle lift */
}

